## 6. How to manipulate pandas DataFrame

In [1]:
import pandas as pd
from pandas import DataFrame
df=pd.read_csv('Iris.csv')

In [2]:
df.head(20)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa

In [3]:
# let's review all the columns present in a dataset
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [4]:
# let's create a subset of a dataset
df_subset=DataFrame(df,columns=['SepalLengthCm','SepalWidthCm'])
df_subset.head()

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6

In [5]:
# we can also add some extra column while creating a subset
df_subset=DataFrame(df,columns=['SepalLengthCm','SepalWidthCm','new'])
df_subset.head()

   SepalLengthCm  SepalWidthCm  new
0            5.1           3.5  NaN
1            4.9           3.0  NaN
2            4.7           3.2  NaN
3            4.6           3.1  NaN
4            5.0           3.6  NaN

In [6]:
# how to get individual column
df['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [7]:
# agar column name ki spelling me space hota he toh df['column_name'] use krte he
# aur agar nhi hota toh df.column_name, for ex-
df.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [8]:
# Deleting column
del df_subset['new']
df_subset.head()

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6

## 7. How to manipulate series in Python/working with DataFrame series

In [9]:
import pandas as pd
from pandas import Series
# Series is mainly a collection ,can be collection of same type of values or mix type of values

In [10]:
ser=Series([5,10,15,20,25,30])

In [11]:
ser.head()

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [12]:
ser.index

RangeIndex(start=0, stop=6, step=1)

In [13]:
ser[0]

5

In [14]:
# apan alag se index bhi define kr skte he
ser=Series([5,10,15,20,25,30],index=['a','b','c','d','e','f'])
ser.head()

a     5
b    10
c    15
d    20
e    25
dtype: int64

In [15]:
iris=pd.read_csv('Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
iris['Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [17]:
# adding two numeric column values
iris['SepalLengthCm']+iris['SepalWidthCm']

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Length: 150, dtype: float64

In [18]:
# adding two text column series
iris.Species+ ' '+ iris.Species

0            Iris-setosa Iris-setosa
1            Iris-setosa Iris-setosa
2            Iris-setosa Iris-setosa
3            Iris-setosa Iris-setosa
4            Iris-setosa Iris-setosa
                   ...
145    Iris-virginica Iris-virginica
146    Iris-virginica Iris-virginica
147    Iris-virginica Iris-virginica
148    Iris-virginica Iris-virginica
149    Iris-virginica Iris-virginica
Name: Species, Length: 150, dtype: object

In [19]:
# no of values in a series(column)
iris.SepalLengthCm.size

150

In [20]:
# getting array-like value for further processing
iris.SepalLengthCm.values

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

## 8. Loading HTML data in Python

In [24]:
import pandas as pd
from pandas import read_html
import html5lib

In [30]:
url="https://www.iplt20.com/points-table/2020"

In [31]:
tables_list=pd.io.html.read_html(url)

In [32]:
tables_list

[  Unnamed: 0                              Team  Pld  Won  Lost  Tied  N/R  \
 0          Q                Mumbai Indians  MI   14    9     5     0    0
 1          Q                Delhi Capitals  DC   14    8     6     0    0
 2          Q          Sunrisers Hyderabad  SRH   14    7     7     0    0
 3          Q  Royal Challengers Bangalore  RCB   14    7     7     0    0
 4          5        Kolkata Knight Riders  KKR   14    7     7     0    0
 5          6             Kings XI Punjab  KXIP   14    6     8     0    0
 6          7          Chennai Super Kings  CSK   14    6     8     0    0
 7          8              Rajasthan Royals  RR   14    6     8     0    0

    Net RR          For      Against  Pts           Form
 0   1.107  2,378/262.2  2,187/274.5   18  W  L  W  W  L
 1  -0.109  2,289/278.5    2,271/273   16  L  L  L  L  W
 2   0.608  2,225/269.3  2,125/277.5   14  W  L  W  W  W
 3  -0.172  2,147/272.2    2,183/271   14  W  L  L  L  L
 4  -0.214    2,219/278  2,206/269.1   14  L  W  L  L  W
 5  -0.162  2,335/277.5  2,343/273.3   12  W  W  W  L  L
 6  -0.455  2,191/274.3  2,275/269.4   12  L  L  W  W  W
 7  -0.569  2,288/272.4    2,482/277   12  W  L  W  W  L  ]

In [38]:
# To show table data in a readable format 
mf=tables_list[0]

In [39]:
mf

,Unnamed: 0,Team,Pld,Won,Lost,Tied,N/R,Net RR,For,Against,Pts,Form
0,Q,Mumbai Indians MI,14,9,5,0,0,1.107,"2,378/262.2","2,187/274.5",18,W L W W L
1,Q,Delhi Capitals DC,14,8,6,0,0,-0.109,"2,289/278.5","2,271/273",16,L L L L W
2,Q,Sunrisers Hyderabad SRH,14,7,7,0,0,0.608,"2,225/269.3","2,125/277.5",14,W L W W W
3,Q,Royal Challengers Bangalore RCB,14,7,7,0,0,-0.172,"2,147/272.2","2,183/271",14,W L L L L
4,5,Kolkata Knight Riders KKR,14,7,7,0,0,-0.214,"2,219/278","2,206/269.1",14,L W L L W
5,6,Kings XI Punjab KXIP,14,6,8,0,0,-0.162,"2,335/277.5","2,343/273.3",12,W W W L L
6,7,Chennai Super Kings CSK,14,6,8,0,0,-0.455,"2,191/274.3","2,275/269.4",12,L L W W W
7,8,Rajasthan Royals RR,14,6,8,0,0,-0.569,"2,288/272.4","2,482/277",12,W L W W L

## 9. How to import excel data in Python

In [1]:
import pandas as pd

In [2]:
xl_file=pd.ExcelFile('Sample - Superstore Sales.xls')

In [4]:
xl_file.head()

AttributeError: 'ExcelFile' object has no attribute 'head'

In [6]:
# here we are creating an object 'orders', and we want only 'Orders' sheet.
# So we are parsing 'Orders' sheet into 'orders' object
orders=xl_file.parse('Orders')
orders.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [7]:
# another way to read data from excel file
returns=pd.read_excel('Sample - Superstore Sales.xls')
returns.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

## 10. Answering business questions with pandas/ Exploring data analysis

In [8]:
import pandas as pd

In [9]:
df1=pd.read_excel('Sample - Superstore Sales.xls')
df1.head(10)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17
5,6,32,2011-07-15,High,15,140.5600,0.04,Regular Air,-128.380,8.46,...,Liz Pelletier,Saskachewan,Prarie,Corporate,Technology,Computer Peripherals,"Imation 3.5 IBM Diskettes, 10/Box",Small Pack,0.79,2011-07-16
6,7,35,2011-10-22,Not Specified,30,288.5600,0.03,Regular Air,60.720,9.11,...,Julie Creighton,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Dixon Ticonderoga Core-Lock Colored Pencils,Wrap Bag,0.52,2011-10-23
7,8,35,2011-10-22,Not Specified,14,1892.8480,0.01,Regular Air,48.987,155.99,...,Julie Creighton,British Columbia,West,Corporate,Technology,Telephones and Communication,CF 688,Small Box,0.58,2011-10-24
8,9,36,2011-11-02,Critical,46,2484.7455,0.10,Regular Air,657.477,65.99,...,Sample Company A,Alberta,West,Home Office,Technology,Telephones and Communication,6162i,Small Box,0.55,2011-11-02
9,10,65,2011-03-17,Critical,32,3812.7300,0.02,Regular Air,1470.300,115.79,...,Tamara Dahlen,Ontario,Ontario,Corporate,Technology,Computer Peripherals,"Verbatim DVD-R, 4.7GB, Spindle, WE, Blank, Ink...",Small Pack,0.49,2011-03-18

In [10]:
df1.groupby('Customer Segment').Sales.sum()

Customer Segment
Consumer          3.063611e+06
Corporate         5.498190e+06
Home Office       3.562063e+06
Small Business    2.772298e+06
Name: Sales, dtype: float64

In [11]:
df1.groupby('Customer Segment').Profit.sum()

Customer Segment
Consumer          287959.983779
Corporate         600014.574158
Home Office       318256.411991
Small Business    312865.296153
Name: Profit, dtype: float64

In [12]:
#how many times a product appears 
df1['Product Name'].value_counts()

Global High-Back Leather Tilter, Burgundy                                                24
Master Giant Foot® Doorstop, Safety Yellow                                               22
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables                        22
Bevis 36 x 72 Conference Tables                                                          22
Fiskars® Softgrip Scissors                                                               22
                                                                                         ..
DAX Cubicle Frames, 8-1/2 x 11                                                            1
Fellowes 8 Outlet Superior Workstation Surge Protector w/o Phone/Fax/Modem Protection     1
Sanford Uni-Blazer™ View Highlighters, Chisel Tip, Yellow                                 1
Advantus Plastic Paper Clips                                                              1
Acco Pressboard Covers with Storage Hooks, 14 7/8" x 11", Executive Red                   1
Name: Product Name, Length: 1263, dtype: int64

In [13]:
# how many unique products you have
df1['Product Name'].nunique()

1263

In [14]:
# common opeartion in analysis
# identify the top 5 product name or sales
df1.groupby('Product Name').Profit.sum().nlargest(5)

Product Name
Global Troy™ Executive Leather Low-Back Tilter                 79284.780
Hewlett Packard LaserJet 3310 Copier                           73299.600
Hewlett-Packard cp1700 [D, PS] Series Color Inkjet Printers    55281.390
GBC DocuBind 200 Manual Binding Machine                        50462.515
Canon PC940 Copier                                             47705.836
Name: Profit, dtype: float64

In [16]:
# 5 lowest product 
df1.groupby('Product Name').Profit.sum().nsmallest(5)

Product Name
Okidata Pacemark 4410N Wide Format Dot Matrix Printer   -43949.3724
Canon imageCLASS 2200 Advanced Copier                   -31885.6770
Global High-Back Leather Tilter, Burgundy               -30518.9000
Epson DFX-8500 Dot Matrix Printer                       -29400.3450
Hoover Portapower™ Portable Vacuum                      -21088.4800
Name: Profit, dtype: float64