## 1. Importing CSV data into Python-Exploring Options

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('clean_unemployment.csv')
# head() allows us to show first five rows
df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

In [3]:
#no changes
df=pd.read_csv('clean_unemployment.csv',sep=',')
df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

In [4]:
#agar sepcific number of rows show krni he toh
df=pd.read_csv('clean_unemployment.csv',nrows=10)
df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

In [5]:
#when header is not defined ,first row is treated as header. 
#So if define header=None ,then header headings will start from 0. Aur agar nhi define kiya toh first row ko header maan lega.
df=pd.read_csv('clean_unemployment.csv',header=None)
df.head()

      0             1
0  date  unemployment
1  1948          3.75
2  1949          6.05
3  1950   5.208333333
4  1951   3.283333333

In [6]:
#agar alag se column names dene ho toh
df=pd.read_csv('clean_unemployment.csv',names=['year','rate of unemployment'])
df.head()

   year rate of unemployment
0  date         unemployment
1  1948                 3.75
2  1949                 6.05
3  1950          5.208333333
4  1951          3.283333333

In [7]:
#Specifying cols in separate object name
cols=['year','rate of unemployment']
df=pd.read_csv('clean_unemployment.csv',names=cols)
df.head()

   year rate of unemployment
0  date         unemployment
1  1948                 3.75
2  1949                 6.05
3  1950          5.208333333
4  1951          3.283333333

In [8]:
#make the location variable
loc='clean_unemployment.csv'
df=pd.read_csv(loc)
df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

## 2. How to Generate Data Frame Summary Statistic

In [9]:
# How to make dataframe using excel sheet
import pandas as pd
excel=pd.read_excel('cereal.xls',0)
excel.head(2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679

In [10]:
# It will show data of those columns which have only numeric data
excel.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [11]:
excel.describe(include='all')

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77,77,77,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
unique,77,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,100% Natural Bran,K,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,23,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,NaN,NaN,NaN,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,NaN,NaN,NaN,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,NaN,NaN,NaN,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,NaN,NaN,NaN,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,NaN,NaN,NaN,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,NaN,NaN,NaN,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [12]:
# It contains the columns which are having only charcter values.
excel.describe(include=['object'])

                     name mfr type
count                  77  77   77
unique                 77   7    2
top     100% Natural Bran   K    C
freq                    1  23   74

In [13]:
# It your excel contains some other data type values and we want that specific values, so we can provide data type also.
excel.describe(include=['object','float'])

,name,mfr,type,fiber,carbo,weight,cups,rating
count,77,77,77,77.000000,77.000000,77.000000,77.000000,77.000000
unique,77,7,2,NaN,NaN,NaN,NaN,NaN
top,100% Natural Bran,K,C,NaN,NaN,NaN,NaN,NaN
freq,1,23,74,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2.151948,14.597403,1.029610,0.821039,42.665705
std,NaN,NaN,NaN,2.383364,4.278956,0.150477,0.232716,14.047289
min,NaN,NaN,NaN,0.000000,-1.000000,0.500000,0.250000,18.042851
25%,NaN,NaN,NaN,1.000000,12.000000,1.000000,0.670000,33.174094
50%,NaN,NaN,NaN,2.000000,14.000000,1.000000,0.750000,40.400208
75%,NaN,NaN,NaN,3.000000,17.000000,1.000000,1.000000,50.828392
max,NaN,NaN,NaN,14.000000,23.000000,1.500000,1.500000,93.704912

In [14]:
# isme mene fibre column ki aisi values show ki jo 5 se badi ho
# in this way we can get specific values related to a column
excel[excel['fiber']>5].describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,4.000000,4.00,4.00,4.000000,4.000000,4.00,4.000000,4.000000,4.0,4.0,4.0000,4.000000,4.000000
mean,77.500000,3.75,0.75,182.500000,9.750000,7.75,6.250000,297.500000,25.0,3.0,1.0825,0.457500,64.843496
std,29.860788,0.50,0.50,60.207973,3.304038,2.50,5.795113,33.040379,0.0,0.0,0.1650,0.162763,23.124032
min,50.000000,3.00,0.00,130.000000,6.000000,5.00,0.000000,260.000000,25.0,3.0,1.0000,0.330000,37.840594
25%,65.000000,3.75,0.75,137.500000,8.250000,6.50,3.750000,275.000000,25.0,3.0,1.0000,0.330000,54.029277
50%,70.000000,4.00,1.00,170.000000,9.500000,7.50,5.500000,300.000000,25.0,3.0,1.0000,0.415000,63.914239
75%,82.500000,4.00,1.00,215.000000,11.000000,8.75,8.000000,322.500000,25.0,3.0,1.0825,0.542500,74.728458
max,120.000000,4.00,1.00,260.000000,14.000000,11.00,14.000000,330.000000,25.0,3.0,1.3300,0.670000,93.704912

In [15]:
excel[excel['fiber']>5]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
52,Post Nat. Raisin Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594

In [16]:
# multiple conditions can be applied in the following manner
excel[(excel['fiber']>5) & (excel.carbo>10.0)]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
52,Post Nat. Raisin Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594

In [17]:
excel[(excel['fiber']>5) & (excel.carbo>10.0)].describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.000000
mean,120.0,3.0,1.0,200.0,6.0,11.0,14.0,260.0,25.0,3.0,1.33,0.67,37.840594
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,120.0,3.0,1.0,200.0,6.0,11.0,14.0,260.0,25.0,3.0,1.33,0.67,37.840594
25%,120.0,3.0,1.0,200.0,6.0,11.0,14.0,260.0,25.0,3.0,1.33,0.67,37.840594
50%,120.0,3.0,1.0,200.0,6.0,11.0,14.0,260.0,25.0,3.0,1.33,0.67,37.840594
75%,120.0,3.0,1.0,200.0,6.0,11.0,14.0,260.0,25.0,3.0,1.33,0.67,37.840594
max,120.0,3.0,1.0,200.0,6.0,11.0,14.0,260.0,25.0,3.0,1.33,0.67,37.840594

## 3. How to sort values in a dataframe

In [18]:
# we are sorting values of sodium column in ascending order
excel.sodium.sort_values()

63      0
43      0
54      0
65      0
64      0
     ...
15    280
16    290
62    290
11    290
53    320
Name: sodium, Length: 77, dtype: int64

In [19]:
excel.sodium.sort_values(ascending=False).head()

53    320
11    290
62    290
16    290
15    280
Name: sodium, dtype: int64

In [20]:
# sorting columns that has space
excel['sodium'].sort_values().head()

63    0
43    0
54    0
65    0
64    0
Name: sodium, dtype: int64

In [21]:
# sorting the entire dataframe in ascending order and here we are providing impact on column name 
excel.sort_values('name').head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [22]:
# sorting the entire dataframe in descending order ,
# and values of all the columns are arranged according to the values given in protein column
excel.sort_values('protein',ascending=False).head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
45,Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765
44,Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
41,Life,Q,C,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074

In [23]:
# sorting multiple columns
excel.sort_values(['calories','sodium']).head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
54,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0,15,0,3,0.50,1.00,60.756112
55,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0,50,0,3,0.50,1.00,63.005645
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
63,Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0,95,0,1,0.83,1.00,68.235885
60,Raisin Squares,K,C,90,2,0,0,2.0,15.0,6,110,25,3,1.00,0.50,55.333142
64,Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.00,0.67,74.472949
65,Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0,120,0,1,1.00,0.67,72.801787
68,Strawberry Fruit Wheats,N,C,90,2,0,15,3.0,15.0,5,90,25,2,1.00,1.00,59.363993

In [24]:
# descending order
excel.sort_values(['type','calories'],ascending=False).head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
20,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.00,0.67,50.828392
46,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
44,Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.00,1.00,37.136863
45,Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.00,1.00,34.139765
39,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.30,0.75,36.471512
49,Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7,130,25,3,1.33,0.67,40.692320
70,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.50,1.00,28.592785
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562

## 4. Applying filters to Dataframe

In [25]:
# if we want values of 'calories' column greater than 100
excel[excel.calories>100].head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
10,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
12,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
13,Clusters,G,C,110,3,2,140,2.0,13.0,7,105,25,3,1.00,0.50,40.400208
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446

In [26]:
excel[excel['type']!= 'C']

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
20,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.0,1.00,64.533816
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392

In [27]:
excel[(excel['fat'] !=0) & (excel['calories']>=100)].head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
10,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
12,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
13,Clusters,G,C,110,3,2,140,2.0,13.0,7,105,25,3,1.00,0.50,40.400208
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446
18,Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.00,1.00,22.396513

In [28]:
excel[(excel['type'] !='C') | (excel['calories']>=100)].head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
10,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
12,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
13,Clusters,G,C,110,3,2,140,2.0,13.0,7,105,25,3,1.00,0.50,40.400208
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446

## 5. How to delete columns and rows from dataframe

In [29]:
# inplace=True means this changes are permemnately made into the datframe
# axis=1 means column, if we want to delete column then put axis=1, otherwise put axis=0
excel.drop(['mfr'],axis=1,inplace=True)

In [30]:
excel.head(10)

,name,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [31]:
# To remove two diferent columns
excel.drop(['type','rating'],axis=1,inplace=True)
excel.head(10)

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups
0,100% Bran,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33
1,100% Natural Bran,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00
2,All-Bran,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33
3,All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50
4,Almond Delight,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75
5,Apple Cinnamon Cheerios,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75
6,Apple Jacks,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00
7,Basic 4,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75
8,Bran Chex,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67
9,Bran Flakes,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67

In [32]:
# to delete rows ,write axis=0
excel.drop([0],axis=0,inplace=True)

In [33]:
excel.head(10)

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups
1,100% Natural Bran,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00
2,All-Bran,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33
3,All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50
4,Almond Delight,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75
5,Apple Cinnamon Cheerios,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75
6,Apple Jacks,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00
7,Basic 4,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75
8,Bran Chex,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67
9,Bran Flakes,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67
10,Cap'n'Crunch,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75